@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

/* Page 1: Intro */
.pageone {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    scroll-snap-align: start;
    box-sizing: border-box;
    background-image: url('ki.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.pageone::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('ki.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    -webkit-filter: blur(3.5px);
    z-index: -1;
}

#intro {
    text-align: left;
    margin-top: 40px;
    margin-left: 30px;
    font-size: 6rem;
    font-family: 'Great Vibes', cursive;
    color: lch(99.73% 0.35 17.55);
    text-shadow: 10px 10px 10px hwb(0 57% 39%);
    animation: fadeInUp 2s forwards;
}
    
 #invite {
    margin-left: 5.5%;
    font-size: 2.0rem;
    font-family: 'Great Vibes', cursive;
    color: rgb(87, 60, 60);
    text-shadow: 10px 10px 10px hwb(0 52% 45%);
    animation: fadeInUp 2s forwards;
}

#greetings {
    text-align: left;
    margin-top: 20px;
    margin-left: 6.5%;
    font-size: 6rem;
    font-family: 'Great Vibes', cursive;
    color: #ffffff;
    text-shadow: 10px 10px 10px rgb(110, 105, 105);
    animation: fadeInUp 2s forwards;
}

#bday {
    text-align: left;
    margin-left: 10.5%;
    font-size: 6rem;
    font-family: 'Great Vibes', cursive;
    color: #a2bffe;
    text-shadow: 10px 10px 10px lab(28.99% 2.54 0.91);
    animation: fadeInUp 2s forwards;
}

.frame {
  margin-bottom: 30px  auto;
  top: 15%;
  right: 9.5%;
  width: 100%;
  max-width: 300px;
  height: 380px;
  background-image: url('Screenshot_2026-02-13_014606-removebg-preview.png');
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeInUp 2s forwards;
}

/*  ANIMATION  */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}




/* Page 2: Countdown */
.pagetwo {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: -1;
    background-image: url('glo.avif');
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
    padding: 20px;
    box-sizing: border-box;
}

.pagetwo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('glo.avif');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    -webkit-filter: blur(5px);
    z-index: -1;
}

.text-container {
    text-align: center;
    margin: 0 auto;
    margin-left: 40px;
    max-width: 600px;
    padding: 40px;
    border-radius: 20px;
    background: linear-gradient(180deg, #BACFFE,#3B78FD, #94B5FE);
    box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
}

#date {
    margin-top: -15px;
    font-size: 30px;
    margin-bottom: 10px;
    color: #fcfcfcd5;
    text-shadow: 1px 3px 4px  #000000f7;
    animation: fadeInUp 2s forwards;
}

#countdown span {
  font-size: 40px;
  margin: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 1px 5px 10px  #000000f7;
  animation: fadeInUp 2s forwards;
}

.Details {
    margin-top: 0.5px;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 1px 3px 4px  #141010f7;
    animation: fadeInUp 2s forwards;
}

.sub {
    margin-top: 10px;
    font-size: 30px;
    color: #fcfcfc;
    text-shadow: 1px 3px 4px  #141010f7;
    animation: fadeInUp 2s forwards;
}

.image-container-right {
    position: absolute;
    right: 100px;
    top: 25%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    animation: fadeInUp 2s forwards;
}

.image-frame {
    margin-bottom: 20px;
    margin-right: -30px;
    width: 200px;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    transform: rotate(-30deg);
    box-shadow: 0 10px 90px rgba(0, 0, 0, 0.5);
}

.image-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-frame img:hover {
    transform: scale(1.05);
}

.image-frame.middle {
    margin-top: 5px;
    width: 180px;
    transform: rotate(0deg);
}

.image-frame.middle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-frame.middle img:hover {
    transform: scale(1.05);
}

.image-frame.lean {
    margin-top: 20px;
    margin-left: 15px;
    width: 180px;
    transform: rotate(30deg);
    z-index: -1; 
    position: relative;
}

.image-frame.lean img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-frame.lean img:hover {
    transform: scale(1.05);
}




/* Page 3: Dress Code */
.pagethree {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('ki.jpg');
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
    padding: 20px;
    box-sizing: border-box;
}

.pagethree::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('ki.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.dress-container {
    text-align: center;
    max-width: 600px;
    padding: 60px;
    border-radius: 20px;
    background: linear-gradient(180deg, #FF6B9D, #C44569, #F8B500);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    font-family: 'Segoe UI', sans-serif;
    color: white;
    animation: fadeInUp 2s forwards;
}

.dress-container h1 {
    font-size: 4rem;
    font-family: 'Great Vibes', cursive;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.dress-container p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.dress-container ul {
    list-style: none;
    font-size: 1.3rem;
}

.dress-container li {
    margin: 15px 0;
    padding-left: 20px;
    position: relative;
}

.dress-container li::before {
    content: '✨';
    position: absolute;
    left: 0;
}

/* Page 4: Pictures */
.pagefour{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-image: url('glo.avif');
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
    padding: 20px;
    box-sizing: border-box;
}

.pagefour::before {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-image: url('glo.avif');
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
    padding: 20px;
    box-sizing: border-box;
}

.text-container-pagefour {
    position: absolute;
    top: 30px;
    left: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin: 0;
    max-width: 600px;
    padding: 40px;
    border-radius: 20px;
    background: linear-gradient(180deg, #BACFFE,#3B78FD, #94B5FE);
    box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
}

.text-container-pagefour h1 {
    font-size: 3.0rem;
    font-family: 'Great Vibes', cursive;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.text-container-pagefour p {
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 1px 3px 4px  #141010f7;
}

.gallery-container-pagefour {
    position: absolute;
    right: 105px;
    top: 60%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}


.pagefour .image-frame.gallery1 {
    margin-bottom: 20px;
    margin-right: 30px;
    width: 50pc;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    transform: rotate(-10deg);
    box-shadow: 0 10px 90px rgba(0, 0, 0, 0.5);
}

.image-frame.gallery1 img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-frame-gallery1 img:hover {
    transform: scale(1.05);
}

.image-frame lean gallery2 {
    width: 200px;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 90px rgba(0, 0, 0, 0.5);
}

.image-frame lean gallery2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-frame lean gallery2 img:hover {
    transform: scale(1.05);
}

.image-frame lean gallery3 {
    width: 200px;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 90px rgba(0, 0, 0, 0.5);
}

.image-frame lean gallery3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}


/* Page 5: Location */
.pagefive {
     min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    scroll-snap-align: start;
    box-sizing: border-box;
    background-image: url('ki.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
}



.pagefive::before {
     content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('ki.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    z-index: -1;
}

.text-container2 {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: fit-content;
    align-self: center;
    padding-top: 10vh;
}

.fullscreen-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;
}

.fullscreen-img {
    max-width: 95vw;
    max-height: 95vh;
    object-fit: contain;
}


.card {
    width: 900px;
    height: 400px;
    padding: 40px 30px;
    border-radius: 20px;
    background: linear-gradient(180deg, #BACFFE,#3B78FD, #94B5FE);
    box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
    position: relative;
}

.title-badge {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, rgb(212, 209, 247), rgb(118, 120, 233));
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 3px;
    letter-spacing: 2px;
    font-size: 18px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.title-badge h1 {
        margin: 0;
        font-size: 20px;
        font-family: 'Segoe UI', sans-serif;
        color: #ffffff;
        text-shadow: 1px 2px 4px rgb(0, 0, 0);
    }

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.qr-section img {
    width: 200px;
    height: 200px;
    margin-right: 50px;
    border: 3px solid white;
    padding: 1px;
    background: white;
}

.details {
    text-align: center;
    padding: 0 20px;
}

.details h3 {
    font-size: 18px;
    font-family: 'Segoe UI', sans-serif;
    color: rgba(248, 247, 247, 0.897);
    text-shadow: 1px 3px 4px  #141010f7;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.details p {
    color: rgb(255, 247, 247);
    text-shadow: 1px 3px 4px  #141010f7;
    font-size: 20px;
    font-family: 'Segoe UI',  sans-serif;
    margin: 3px 0;
}

.view-map {
    display: inline-block;
    margin-top: 10px;
    font-size: 13px;
    font-family: 'Segoe UI',  sans-serif;
    text-decoration: none;
    color: rgba(255, 249, 249, 0.798) !important;
    text-shadow: 1px 3px 4px  #141010f7;
    font-weight: bold;
}

.preview img {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid rgb(255, 251, 251);
}






/* Page 6: Cards */
.pagesix {
    content: '';
    min-height: 100vh;
    padding: 20px;
    z-index: -1;
    position: absolute;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    box-sizing: border-box;
    background-image: url('ki.jpg');
    background-size: cover;
    background-position: center;
}



.pagesix::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(15px);
    background-image: url('ki.jpg');
    background-size: cover;
    background-position: center;
}

.text-container3 {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 700px;
    margin-top: 40px;
    margin-bottom: 100px;
    border-radius: 20px;
    padding: 40px;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(pink, rgb(209, 90, 108), rgb(254, 168, 182));
    box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
}

.text-container3 h1,
.text-container3 h2 {
    margin: px 0;
    color: #fff9f9;
    text-shadow: 1px 3px 4px  #141010f7;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    color: white;
    cursor: pointer; 
    overflow: hidden; 
    position: relative; 
}

.card.red{
 width: 240px;
  height: 140px;
  padding: 20px;
  opacity: 0.6;
  border-radius: 18px;
  transform: scale(0.9);
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
  background: linear-gradient(180deg, #ee5050 ,#B90900, #f23333 );
}

.card.blue{
  width: 240px;
  height: 140px;
  padding: 20px;
  opacity: 0.6;
  border-radius: 18px;
  transform: scale(0.9);
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
  background: linear-gradient(180deg, #C1D5F0,#446496, #A8B5E0);
}

.card.green{
  width: 240px;
  height: 140px;
  padding: 20px;
  opacity: 0.6;
  border-radius: 18px;
  transform: scale(0.9);
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
  background: linear-gradient(180deg,#85f361,#1b871b, #58e340);
}

.card.pink{
  width: 240px;
  height: 140px;
  padding: 20px;
  opacity: 0.6;
  border-radius: 18px;
  transform: scale(0.9);
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
  background: linear-gradient(180deg, #E2B0AF,#BB4644, #CA706E);
}

.card.violet{
  width: 240px;
  height: 140px;
  padding: 20px;
  opacity: 0.6;
  border-radius: 18px;
  transform: scale(0.9);
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(180deg, #BE80BC,#9C5099, #BC7CBA);
  box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
}

.card a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.cards .card:hover {
  transform: scale(1.03);
  opacity: 1;
  z-index: 5;
}

.card h3, .card p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.cards .card:hover h3 {
  letter-spacing: 4px;
}

.cards .card:hover p {
  opacity: 1;
  transform: translateY(0);
}

.card:focus {
    outline: none;
}