@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

/* Page 1: Intro */
.pageone {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    scroll-snap-align: start;
    box-sizing: border-box; 
    background-image: url('flo.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.pageone::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('flo.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    -webkit-filter: blur(3.5px);
    z-index: -1;
}

#intro {
    text-align: left;
    margin-top: clamp(20px, 8vh, 40px);
    margin-left: clamp(5vw, 30px, 40px);
    margin-right: clamp(5vw, 20px, 40px);
    font-size: clamp(2.5rem, 10vw, 6rem);
    font-family: 'Great Vibes', cursive;
    color: rgb(255, 254, 254);
    text-shadow: 3px 9px 15px rgb(9, 9, 9);
    animation: fadeInUp 2s forwards;
}
    
#invite {
    margin-top: clamp(10px, 4vh, 15px);
    margin-left: clamp(5vw, 5.5%, 8vw);
    font-size: clamp(1.5rem, 6vw, 2.0rem);
    font-family: 'Great Vibes', cursive;
    color: rgb(87, 60, 60);
    text-shadow: clamp(4px, 1vw, 10px) clamp(4px, 1vw, 10px) clamp(4px, 1vw, 10px) hwb(0 52% 45%);
    animation: fadeInUp 2s forwards;
}

#greetings {
    text-align: left;
    margin-top: clamp(15px, 6vh, 20px);
    margin-left: clamp(6vw, 6.5%, 10vw);
    font-size: clamp(2.5rem, 10vw, 6rem);
    font-family: 'Great Vibes', cursive;
    color: #ffffff;
    text-shadow: clamp(2px, 0.8vw, 3px) clamp(4px, 1.5vw, 9px) clamp(6px, 2vw, 15px) rgb(9, 9, 9);
    animation: fadeInUp 2s forwards;
}

#bday {
    text-align: left;
    margin-left: clamp(8vw, 10.5%, 12vw);
    font-size: clamp(2.5rem, 10vw, 6rem);
    font-family: 'Great Vibes', cursive;
    color: #a2bffe;
    text-shadow: clamp(1px, 0.5vw, 2px) clamp(3px, 1vw, 9px) clamp(5px, 1.5vw, 15px) rgb(9, 9, 9);
    animation: fadeInUp 2s forwards;
}

.frame {
  margin-bottom: clamp(20px, 5vh, 30px) auto;
  top: clamp(10%, 15%, 20%);
  right: clamp(5vw, 9.5%, 15vw);
  width: clamp(250px, 30vw, 100%);
  max-width: clamp(250px, 30vw, 300px);
  height: clamp(300px, 40vh, 380px);
  background-image: url('Screenshot_2026-02-13_014606-removebg-preview.png');
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeInUp 2s forwards;
}

/*  ANIMATION  */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}











/* Page 2: Countdown */
.pagetwo {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: -1;
    background-image: url('blu.jpeg');
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
    padding: 20px;
    box-sizing: border-box;
}

.pagetwo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('blu.jpeg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    -webkit-filter: blur(5px);
    z-index: -1;
}

.text-container {
    text-align: center;
    margin: 0 auto;
    margin-left: clamp(20px, 5vw, 40px);
    max-width: min(95vw, 600px);
    padding: clamp(25px, 8vh, 40px);
    border-radius: 20px;
    background: linear-gradient(180deg, #BACFFE,#3B78FD, #94B5FE);
    box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
}

#date {
    margin-top: -15px;
    font-size: 30px;
    margin-bottom: 10px;
    color: #fcfcfcd5;
    text-shadow: 1px 3px 4px  #000000f7;
    animation: fadeInUp 2s forwards;
}

#countdown span {
  font-size: 40px;
  margin: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 1px 5px 10px  #000000f7;
  animation: fadeInUp 2s forwards;
}

.Details {
    margin-top: 0.5px;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 1px 3px 4px  #141010f7;
    animation: fadeInUp 2s forwards;
}

.sub {
    margin-top: 10px;
    font-size: 30px;
    color: #fcfcfc;
    text-shadow: 1px 3px 4px  #141010f7;
    animation: fadeInUp 2s forwards;
}

.image-container-right {
    position: absolute;
    right: 100px;
    top: 25%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    animation: fadeInUp 2s forwards;
}

.image-frame {
    margin-bottom: 20px;
    margin-right: -30px;
    width: 200px;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    transform: rotate(-30deg);
    box-shadow: 0 10px 90px rgba(0, 0, 0, 0.5);
}

.image-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-frame img:hover {
    transform: scale(1.05);
}

.image-frame.middle {
    margin-top: 5px;
    width: 180px;
    transform: rotate(0deg);
}

.image-frame.middle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-frame.middle img:hover {
    transform: scale(1.05);
}

.image-frame.lean {
    margin-top: 20px;
    margin-left: 15px;
    width: 180px;
    transform: rotate(30deg);
    z-index: -1; 
    position: relative;
}

.image-frame.lean img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-frame.lean img:hover {
    transform: scale(1.05);
}











/* Page 3: Dress Code */
.pagethree {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
    background-image: url('blu.jpeg');
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
    padding: 20px;
    box-sizing: border-box;
}

.pagethree::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('blu.jpeg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    -webkit-filter: blur(5px);
    z-index: 0;
    pointer-events: none;
}


.container{
display:flex;
width:100%;
min-height:100vh;
}


/* PANELS */

.panel{
flex:1;
padding:40px;
text-align:center;
position:relative;
}

.panel:not(:last-child){
border-right:2px solid #aab7c6;
}


/* LEFT PANEL */

.left {
  position: relative;
  z-index: 2;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(2px);
}

.left::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('blu.jpeg');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  z-index: -1;
}

.left h1{
font-family:'Great Vibes', cursive;
font-size:42px;
margin-bottom:20px;
margin-top: 80px;
color: #fbf7f7;
text-shadow: #000000 1px 5px 12px;
}

.left h2{
font-size: 2.5pc;
margin-top: 100px;
font-family:'Great Vibes', cursive;
color:#feffff;
text-shadow: #000000 1px 5px 12px;
}

.left p{
    color: #1b1a1a;
    margin-top: 15px;
    font-family: 'Special Elite Regular', cursive;
    text-shadow: 1px 3px 4px rgba(255, 245, 245, 0.8);
}

/* CENTER PANEL */

.middle {
  position: relative;
  z-index: 2;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(2px);
}

.middle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('blu.jpeg');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  z-index: -1;
}

.middle h1{
margin-top: 80px ;
font-family:'Great Vibes', cursive;
font-size:42px;
color: white;
text-shadow: #000000 1px 5px 12px;
}

.middle p{
    color: #1b1a1a;
    margin-top: 15px;
    font-family: 'Special Elite Regular', cursive;
    text-shadow: 1px 3px 4px rgba(255, 245, 245, 0.8);
}

.subtitle{
margin-top:10px;
margin-bottom:30px;
font-style:italic;
color:#fff5f5;
}


/* PHOTOS */

.photos-container{
position:relative;
height:200px;
margin-top:20px;
}

.photo{
width:120px;
border-radius:12px;
box-shadow:0 6px 15px rgba(0,0,0,0.2);
cursor:pointer;
transition:transform 0.3s ease;
}

.photo:hover {
transform:scale(1.05);
}

.photo-left{
position:absolute;
left:40px;
top:0;
}

.photo-right{
position:absolute;
right:40px;
top:0;
}

.photo.fullscreen {
position:fixed;
top:0;
left:0;
width:100vw;
height:100vh;
max-width:none;
border-radius:0;
z-index:999;
object-fit:contain;
background:rgba(0,0,0,0.9);
}


/* COLOR PALETTE */

.palette-container{
margin-top:40px;
}

.palette-title{
font-family: 'Segoe UI', cursive;
font-size:22px;
color:#ffffff;
text-shadow: #000000 1px 5px 12px;
margin-bottom:20px;
margin-top: 10px;
}

.palette{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 400px;
  margin: 0 auto;
}

.palette-item{
text-align:center;
font-size:12px;
color:#444;
}

.palette p{
    color: #1b1a1a;
    margin-top: 15px;
    font-size: 12px;
    font-family: 'Special Elite Regular', cursive;
    text-shadow: 1px 3px 4px rgba(255, 245, 245, 0.8);
}

.color{
width:90px;
height:90px;
border-radius:12px;
margin-bottom:8px;
box-shadow:0 5px 12px rgba(0,0,0,0.15);
}


/* COLOR SHADES */

.navy{background:#FFFFFF;}
.beige{background:#FDFBD4;}
.baby{background:#A0C4FF;}
.pastel{background:#4A90C6;}
.tropical{background:#B3D9F2;}
.light{background:#7BD3F0;}
.babyblue{background:#A5DEF7;}


/* RIGHT PANEL */

.right {
position: relative;
z-index: 2;
background: rgba(255,255,255,0.1);
}

.right::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('blu.jpeg');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  z-index: -1;
}

.right-flower {
  content: "";
  position: absolute;
  right: -120px;
  top: 40px;
  width: 420px;
  height: 420px;
  background: url("flower.png") no-repeat center;
  background-size: contain;
  opacity: 0.6;
}

.right h1{
font-family:'Great Vibes';
font-size:42px;
color:#ffffff;
text-shadow: #000000 1px 5px 12px;
margin-top: 85px;
}

.right p{
margin:20px auto;
max-width:260px;
line-height:1.6;
color: #1b1a1a;
font-family: 'Special Elite Regular', cursive;
text-shadow: 1px 3px 4px rgba(255, 245, 245, 0.8);
}

.right h2{
margin-top: 125px;
font-family:'Great Vibes';
font-size:36px;
color:#ffffff;
text-shadow: #000000 1px 5px 12px;
}
















/* Page 4: Pictures */
.pagefour{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background: rgba(255,255,255,0.1);
    scroll-snap-align: start;
    padding: 20px;
    box-sizing: border-box;
}

.pagefour::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('blu.jpeg');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    z-index: -1;
}

.text-container-pagefour {
    position: absolute;
    top: 30px;
    left: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin: 0;
    max-width: 600px;
    padding: 40px;
    border-radius: 20px;
    background: linear-gradient(180deg, #BACFFE,#3B78FD, #94B5FE);
    box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
}

.text-container-pagefour h1 {
    font-size: 3.0rem;
    font-family: 'Great Vibes', cursive;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.text-container-pagefour p {
    font-family: 'Special Elite Regular', cursive;
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 1px 3px 4px  #141010f7;
}

.gallery-container-pagefour {
    position: absolute;
    right: 105px;
    top: 60%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}


.pagefour .image-frame.gallery1 {
    margin-bottom: 20px;
    margin-right: 30px;
    width: 50pc;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    transform: rotate(-10deg);
    box-shadow: 0 10px 90px rgba(0, 0, 0, 0.5);
}

.image-frame.gallery1 img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-frame.gallery1 img:hover {
    transform: scale(1.05);
}

.image-frame.lean.gallery2 {
    width: 200px;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 90px rgba(0, 0, 0, 0.5);
}

.image-frame.lean.gallery2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-frame.lean.gallery2 img:hover {
    transform: scale(1.05);
}

.image-frame.lean.gallery3 {
    width: 200px;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 90px rgba(0, 0, 0, 0.5);
}

.image-frame.lean.gallery3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.image-frame.lean.gallery3 img:hover {
    transform: scale(1.05);
}















/* Page 5: Location */
.pagefive {
     min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    scroll-snap-align: start;
    box-sizing: border-box;
    background-image: url('blu.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
}


.pagefive::before {
     content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('blu.jpeg');
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    z-index: -1;
}

.text-container2 {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: fit-content;
    align-self: center;
    padding-top: 25vh;
}

.fullscreen-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;
}

.fullscreen-img {
    max-width: 95vw;
    max-height: 95vh;
    object-fit: contain;
}


.card {
    width: clamp(320px, 85vw, 900px);
    height: clamp(280px, 45vh, 400px);
    padding: clamp(20px, 6vw, 40px) clamp(15px, 4vw, 30px);
    border-radius: 20px;
    background: linear-gradient(180deg, #BACFFE,#3B78FD, #94B5FE);
    box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
    position: relative;
}

.title-badge {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, rgb(212, 209, 247), rgb(118, 120, 233));
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 3px;
    letter-spacing: 2px;
    font-size: 18px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.title-badge h1 {
        margin: 0;
        font-size: 20px;
        font-family: 'Segoe UI', sans-serif;
        color: #ffffff;
        text-shadow: 1px 2px 4px rgb(0, 0, 0);
    }

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.qr-section img {
    width: 200px;
    height: 200px;
    margin-right: 50px;
    border: 3px solid white;
    padding: 1px;
    background: white;
}

.details {
    text-align: center;
    padding: 0 20px;
}

.details h3 {
    font-size: 24px;
    font-family: 'Segoe UI', sans-serif;
    color: #ffffff !important;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.9);
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

.details p {
    color: #ffffff !important;
    text-shadow: 1px 2px 6px rgba(0,0,0,0.9);
    font-size: 22px;
    font-family: 'Segoe UI', sans-serif;
    margin: 5px;
    margin-top: 15px;
    font-weight: 500;
}

.view-map {
    display: inline-block;
    margin-top: 10px;
    font-size: 13px;
    font-family: 'Segoe UI',  sans-serif;
    text-decoration: none;
    color: white !important;
    text-shadow: 1px 3px 4px  #141010f7;
    font-weight: bold;
}

.preview img {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid rgb(255, 251, 251);
}














/* Page 6: Cards */
.pagesix {
    min-height: 100vh;
    padding: 20px;
    z-index: -1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    box-sizing: border-box;
    background-image: url('blu.jpeg');
    background-size: cover;
    background-position: center;
}



.pagesix::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(15px);
    background-image: url('blu.jpeg');
    background-size: cover;
    background-position: center;
}

.text-container3 {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 700px;
    margin-top: 40px;
    margin-bottom: 100px;
    border-radius: 20px;
    padding: 40px;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Segoe UI', sans-serif;
     background: linear-gradient(180deg,#8aa5e9,#2f23db, #73aed3);
    box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
}

.text-container3 h1,
.text-container3 h2 {
    margin-top: 15px;
    color: #ffffff;
    text-shadow: 3px 1px 5px  #000000f7;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    cursor: pointer; 
    overflow: hidden; 
    position: relative; 
}

.card.red{
  width: clamp(180px, 22vw, 240px);
  height: clamp(110px, 18vh, 140px);
  padding: clamp(15px, 3vw, 20px);
  opacity: 0.6;
  border-radius: 18px;
  transform: scale(0.9);
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
  background: linear-gradient(180deg,#ee7e7e,#a60707, #d57676);
}

.card.blue{
  width: clamp(180px, 22vw, 240px);
  height: clamp(110px, 18vh, 140px);
  padding: clamp(15px, 3vw, 20px);
  opacity: 0.6;
  border-radius: 18px;
  transform: scale(0.9);
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
  background: linear-gradient(180deg, #C1D5F0,#446496, #A8B5E0);
}

.card.green{
  width: clamp(180px, 22vw, 240px);
  height: clamp(110px, 18vh, 140px);
  padding: clamp(15px, 3vw, 20px);
  opacity: 0.6;
  border-radius: 18px;
  transform: scale(0.9);
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
  background: linear-gradient(180deg,#85f361,#1b871b, #58e340);
}

.card.pink{
  width: clamp(180px, 22vw, 240px);
  height: clamp(110px, 18vh, 140px);
  padding: clamp(15px, 3vw, 20px);
  opacity: 0.6;
  border-radius: 18px;
  transform: scale(0.9);
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
  background: linear-gradient(180deg, #E2B0AF,#BB4644, #CA706E);
}

.card.violet{
  width: clamp(180px, 22vw, 240px);
  height: clamp(110px, 18vh, 140px);
  padding: clamp(15px, 3vw, 20px);
  opacity: 0.6;
  border-radius: 18px;
  transform: scale(0.9);
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
  background: linear-gradient(180deg, #BE80BC,#9C5099, #BC7CBA);
  box-shadow: 0 4px 8px rgba(38, 34, 34, 15.0);
}

.card a {
    color: #ffffff;
    text-decoration: none;
}

.cards .card:hover {
  transform: scale(1.03);
  opacity: 1;
  z-index: 5;
}

.card h4, .card h3, .card p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: inherit;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

.cards .card:hover h4,
.cards .card:hover h3 {
  letter-spacing: 1px;
  color: #f9f9f4 !important;
  text-shadow: 0 0 15px rgba(92, 87, 87, 0.8), 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.cards .card:hover p {
  opacity: 1;
  transform: translateY(0);
  color: #fffefe !important;
  text-shadow: 0 0 15px rgba(88, 84, 84, 0.8), 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.card:focus {
    outline: none;
}

/* Music Toggle Button */
.music-toggle {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: linear-gradient(135deg, #BACFFE, #3B78FD, #94B5FE);
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 8px 25px rgba(59, 120, 253, 0.4);
    font-family: 'Great Vibes', cursive;
    z-index: 1000;
    transition: all 0.3s ease;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.3);
}

.music-toggle:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 35px rgba(59, 120, 253, 0.6);
}

.music-toggle:active {
    transform: scale(0.98);
}